 .mobile-5-across {
  background: black;
  width: 100vw;
  height: calc(100vw/6.4);
  display: inline-block;
}

.mobile-2 {
  background: black;
  width: 100vw;
  height: calc(100vw/3.2);
  display: inline-block;
  align-content: left;
}

.mobile-3-across {
  background: black;
  width: 100vw;
  height: calc(100vw/3.84);
  display: inline-block;
}

.mobile-2-across {
  background: black;
  width: 49vw;
  height: calc(100vw/3.84);
  display: inline-block;
}

.mobile-bottom-across {
  background: black;
  width: 100vw;
  height: calc(100vw/6);
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .desktop-5-across {
    background: black;
    width: 100vw;
    height: calc(100vw/9.6);
    display: inline-block;
  }
  
  .mobile-2 {
    background: black;
    width: 100vw;
    height: calc(100vw/3.2);
    display: inline-block;
    align-content: left;
  }
  
  .mobile-3-across {
    background: black;
    width: 100vw;
    height: calc(100vw/3.84);
    display: inline-block;
  }
  
  .mobile-2-across {
    background: black;
    width: 49vw;
    height: calc(100vw/3.84);
    display: inline-block;
  }
  
  .mobile-bottom-across {
    background: black;
    width: 100vw;
    height: calc(100vw/6);
    display: inline-block;
  }

}
